<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/308ac35dbf.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/style.css">

  <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <!-- Firechat -->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.css" />
    <script src="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.js"></script>
  <title>Idea Board</title>
</head>

<nav class="navbar navbar-dark bg-dark" style="justify-content: normal; margin-bottom: 20px">
  <a class="navbar-brand" href="/"><img src="/img/slice3.png" class="d-inline-block align-top" width="100" style="margin-left:20px; margin-right:10px"></a>
  <a class="nav-item nav-link left" style="color: #ccc" href="#">Profile</a>
  <a class="nav-item nav-link left" style="color: #ccc" href="/submit">Submit</a>
</nav>

<body>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          {{{ body }}}

        </div>
      </div>
    </div>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-auth.js"></script>
    <script>
  // Your web app's Firebase configuration
   var firebaseConfig = {
    apiKey: "AIzaSyCkVP4hqX0edunSS75rv6l9HTOxhLIN3tM",
    authDomain: "spitball-74f2e.firebaseapp.com",
    databaseURL: "https://spitball-74f2e.firebaseio.com",
    projectId: "spitball-74f2e",
    storageBucket: "spitball-74f2e.appspot.com",
    messagingSenderId: "1095679741888",
    appId: "1:1095679741888:web:b5d60d39ca1d3773a94225",
    measurementId: "G-T3HEF1G9G7"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
​
  <script src="/js/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>