<h2>{{name}}</h2>

<div class="card profile-card" style="width: 18rem;">
  <img src="https://graph.facebook.com/{{user.user_id}}/picture?type=large" class="card-img-top" alt="Your Beautiful Face">
  <div class="card-body">
    <h5 class="card-title">{{user.user_displayName}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>