<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" maxlength="64" class="form-control" id="title" placeholder="Enter idea title">
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <textarea class="form-control" rows="12" id="body" placeholder="Enter idea body"></textarea>
  </div>
  <button type="submit" class="btn btn-primary newIdea">Submit</button>
</form>