.strong {
    border: 2px solid;
}

.comment, .remove {
  width:175px;
  height:100px;
}

body {
  background-color: 	lightgray;
  margin: auto;
}

.card-title {
font-size: 1.5em;
}

.idea-card {
margin: 10px;
text-align: left;
}

.card-subtitle {
font-size: .5em;
}

.idea-card {
  height: 16rem;
  width: 16rem;
}

.card-top {
  height: 65%;
  overflow: scroll;
  -ms-overflow-style: none;
}

.card-top::-webkit-scrollbar {
  display: none;
}

.card-bottom {
  max-height: 25%;
}

.comment-button {
  color: white;
  width: 100%;
}

.comment-form {
  width: 49%;
  max-width: 100% !important;
  resize: both;
}
.warning-div {
  font-size: 12px;
  font-style: italic;
  color: red;
}

.card-score {
  line-height: 2em;
}

.newIdea {
  margin-bottom: 20px;
  background-color: #007bfe
}

@media screen and (max-width: 991px){
  .container {
    max-width: 100% !important;
    margin: 0 auto !important;
    justify-content: space-between !important;
  }
  .idea-card {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 45%;
    margin: 2.5%;
  }
  .comment-form {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .button-cont {
    width: 50%;
  }
}

@media screen and (max-width: 591px){
  .idea-card {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
  }
  .comment-form {
    width: 100%;
  }
}